Package: MDSec.LibiAuditor
Name: LibiAuditor
Version: 0.1-1
Description: 
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Dominic Chell
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

